body {
  /* display: flex; */
  margin: 0;
  font-family: "Poppins", sans-serif !important;
}
p {
  font-family: "Poppins", sans-serif !important;
}
.human-heart {
  animation: 1s infinite beatHeart;
}

@keyframes beatHeart {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.left {
  width: 35%;
}

.sections {
  display: flex;
}

.left div {
  background: linear-gradient(
      to bottom,
      rgba(92, 77, 66, 0.8) 0%,
      rgba(92, 77, 66, 0.8) 100%
    ),
    url("https://www.njea.org/wp-content/uploads/2014/10/Coding.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  border-radius: 5%;
}

.right {
  width: 65%;
  color: white;
}

div {
  margin: 10px 0;
}

@font-face {
  font-family: Ubuntu-Bold;
  src: url("../fonts/ubuntu/Ubuntu-Bold.ttf");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Ubuntu-Bold, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

input {
  outline: none;
  border: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
  -webkit-appearance: none;
}

textarea {
  outline: none;
  border: none;
  resize: vertical;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

input::-webkit-input-placeholder {
  color: #bdbdd3;
}
input:-moz-placeholder {
  color: #bdbdd3;
}
input::-moz-placeholder {
  color: #bdbdd3;
}
input:-ms-input-placeholder {
  color: #bdbdd3;
}

textarea::-webkit-input-placeholder {
  color: #bdbdd3;
}
textarea:-moz-placeholder {
  color: #bdbdd3;
}
textarea::-moz-placeholder {
  color: #bdbdd3;
}
textarea:-ms-input-placeholder {
  color: #bdbdd3;
}

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

.container {
  max-width: 1200px;
}

.container-contact100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: relative;
  background-color: #f2f2f2;
}

.wrap-contact100 {
  width: 550px;
  background: transparent;
  padding: 10px 0px 160px 0px;
}

.contact100-form {
  width: 100%;
}

.contact100-form-title {
  display: block;
  font-family: Ubuntu-Bold;
  font-size: 30px;
  color: white;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 49px;
}

label {
  display: block;
  font-family: Ubuntu-Bold;
  font-size: 20px;
  color: white;
  line-height: 1.2;
}

.wrap-input100 {
  width: 100%;
  background-color: #fff;
  border-radius: 31px;
  margin-bottom: 16px;
  position: relative;
  z-index: 1;
}

.input100 {
  position: relative;
  display: block;
  width: 100%;
  background: #fff;
  border-radius: 31px;
  font-family: Ubuntu-Bold;
  font-size: 18px;
  color: #8f8fa1;
  line-height: 1.2;
}

input.input100 {
  height: 62px;
  padding: 0 35px 0 35px;
}

textarea.input100 {
  min-height: 169px;
  padding: 19px 35px 0 35px;
}

.focus-input100 {
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 31px;
  background-color: #fff;
  pointer-events: none;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 {
  width: calc(100% + 20px);
}

.contact100-form-btn,
.btn1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 150px;
  height: 62px;
  background-color: transparent;
  border-radius: 31px;

  font-family: Ubuntu-Bold;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

.contact100-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 31px;
  background-color: #827ffe;
  pointer-events: none;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.btn1 {
  border-radius: 31px;
  background-color: #827ffe;
  margin-top: 60px;
}

.contact100-form-btn:hover:before {
  background-color: #80ccff;
  width: calc(100% + 20px);
}

td {
  padding: 15px;
  text-align: center;
  vertical-align: middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border: solid 1px rgba(255, 255, 255, 0.1);
}
.tbl-header {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 15px 0;
  overflow: hidden;
}
.align_kar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.subflex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* demo styles */
img {
  height: 500px;
  width: 350px;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body {
    background-color: #000000;
  font-family: "Roboto", sans-serif;
  color: white;
  background-attachment: fixed;
}

section {
  margin: 50px;
}

#mainNav {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
  transition: background-color 0.2s ease;
}
#mainNav .navbar-brand {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #212529;
}
#mainNav .navbar-nav .nav-item .nav-link {
  color: #6c757d;
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  font-size: 0.9rem;
  padding: 0.75rem 0;
}
#mainNav .navbar-nav .nav-item .nav-link:hover,
#mainNav .navbar-nav .nav-item .nav-link:active {
  color: #0652c5;
}
#mainNav .navbar-nav .nav-item .nav-link.active {
  color: #0652c5 !important;
}
@media (min-width: 992px) {
  #mainNav {
    box-shadow: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.7);
    padding: 0 1rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
  }
  #mainNav.navbar-scrolled {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }
  #mainNav.navbar-scrolled .navbar-brand {
    color: #212529;
  }
  #mainNav.navbar-scrolled .navbar-brand:hover {
    color: #0652c5;
  }
  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
    color: #212529;
  }
  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
    color: #0652c5;
  }
}

.button00 {
  display: inline-block;
  padding: 0.18em 0.65em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #2bc72b;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.2s;
  height: 35px;
  padding-bottom: 4px;
  border: 2px solid white;
  width: 12%;
  height: 10%;
}

.button00:hover {
  background-color: #2bc72b;
  text-decoration: none;
  color: white;
  width: 16%;
}
@media all and (max-width: 30em) {
  .button00 {
    display: block;
    margin: 0.2em auto;
    text-decoration: none;
  }
}
body,
html {
  width: 100%;
  height: 100%;
}

@page {
  size: a3;
}
body {
  min-width: 992px !important;
}

h5 {
  padding-bottom: 10px;
  margin-top: 30px;
}

.carousel-control-prev {
  position: fixed;
  margin-left: 34%;
}

.carousel-control-next {
  position: fixed;
  margin-right: -90px;
}

li {
  margin-left: 20px;
}

.carousel-indicators {
  bottom: -50px;
}

h6 {
  text-align: center;
}

.margin_daal {
  margin-top: 10%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
